.skill-img {
    transition: opacity 0.3s ease-in-out; /* Define the transition effect */
}

.skill-img-hover {
    opacity: 0.9; /* Change opacity on hover */
    transition: opacity 0.3s ease-in-out; /* Define the same transition effect for hover state */
}
